#glob {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.login_button_container_twitch {
    background-color: #4B367C;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-weight: bold;
}

.login_button_container_fb {
    background-color: #4267B2;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-weight: bold;
}

.login_button_container_onedrive {
    background-color: #0948AC;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-weight: bold;
}

#card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#action-reaction-wrap {
    flex: 5;
    margin-bottom: 6em;
}

#service_wrap {
    display: flex;
    flex: 3;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

#action {
    display: flex;
    flex: 3;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

#reaction {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}

#reaction_1 {
    display: none;
    flex-direction: column;
}

.reaction_ball {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 3em;
    align-self: center;
    margin-bottom: 3em;
    display: flex;
    cursor: pointer;
}

.reaction_ball i {
    margin: auto;
    font-size: 36px;
}

#validate {
    display: flex;
    flex: 4;
    justify-content: center;
    align-self: flex-start;
    margin-top: 2em;
}

.card {
    margin: 1em;
    display: flex;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.card:hover {
    transform: scale(1.01);
    transition: all ease-in-out 0.1s;
}

.card #data {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;

}

.card #data #title p {
    font-size: 30px;
    font-weight: bold;
}

.card #data #title {
    color: white;
    align-self: center;
}

.card #data #icon {
    color: white;
    align-self: center;
}

#youtube_card {
    height: 130px;
    background-color: #FF0000;
    display: flex;
}

#facebook_card {
    height: 130px;
    background-color: #4267B2;
    display: flex;
}

#twitch_card {
    height: 130px;
    background-color: #4B367C;
    display: flex;
}

#onedrive_card {
    height: 130px;
    background-color: #0948AC;
    display: flex;
}

#drive_card {
    height: 130px;
    background-color: #1CA261;
    display: flex;
}

#sheet_card {
    height: 130px;
    background-color: #0F9854;
    display: flex;
}

.active {
    box-shadow: 0px 0px 20px 0px #000000;
    transform: scale(1.01);
}

.reaction_card {
    border-radius: 5px;
    cursor: pointer;
}

#youtube_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#youtube_reaction .reaction_card {
    height: 240px;
    background-color: #FF0000;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#facebook_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#facebook_reaction .reaction_card {
    height: 240px;
    background-color: #4267B2;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#twitch_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#twitch_reaction .reaction_card {
    height: 240px;
    background-color: #4B367C;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#onedrive_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#onedrive_reaction .reaction_card {
    height: 240px;
    background-color: #0948AC;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#onedrive_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#drive_reaction .reaction_card {
    height: 240px;
    background-color: #1CA261;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#drive_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#sheet_reaction .reaction_card {
    height: 240px;
    background-color: #0F9854;
    width: 230px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#sheet_reaction {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.reaction_card {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 160px;
    height: 240px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
}

.reaction_card:hover {
    transform: scale(1.01);
    transition: all ease-in-out 0.15s;
}

.reaction_card div p {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.reaction_title {
    font-size: 20px;
    margin: 0;
}

.reaction_description {
    font-size: 15px;
    line-height: 1.4;
}

.compatible {
    width: 80%;
    align-self: center;
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.compatible i {
    margin-top: 10px;
    color: white;
}

.card_reaction_title {
    height: 85px;
}

.card_reaction_title i {
    color: white;
}

.card_reaction_title .fa-twitch {
    margin-top: 8px;
}

.card_reaction_title .fa-facebook-official {
    margin-top: 4px;
}

.card_reaction_title .fa-cloud {
    margin-top: 2px;
}

.card_reaction_title .fa-google-drive {
    margin-top: 2px;
}

.card_reaction_desc {
    height: 65px;
}

.card_separator {
    margin: 0;
    margin-top: 2em;
    width: 100%;
}

.fa-file-alt {
    margin-top: 4px;
}

.validate_button {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #EA3D3D;
    background-color: #EA3D3D;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 2em;
    transition: all ease-in-out 0.2s
}

.validate_button:hover {
    border-color: #292A2C;
    background-color: #292A2C;
    transition: all ease-in-out 0.2s
}

.form_validate {
    display: none;
    align-items: center;
    flex-direction: column;
}

.validate_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.validate_icon {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.validate_icon .fa-youtube-play {
    color: red;
}

.validate_icon .fa-envelope {
    color: #C03B2B;
}

.validate_icon .fa-file-alt {
    color: #0F9854;
}

.validate_icon .fa-facebook-official {
    color: #4267B2;
}

.validate_icon .fa-twitch {
    color: #4B367C;
}

.validate_icon .fa-cloud {
    color: #0948AC;
}

.validate_icon .fa-google-drive {
    color: #1CA261;
}

.input_div {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.input_div input, select {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}